<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.test_successful %>
  <h3><%= t('.successfully') %><b style="color:#00FF00"> <%= @test_passage.player_passage_percentes %></b>%</h3>
<% end %>

<% if @test_passage.test_failed %>
  <h3><%= t('.failed') %><b style="color:#FF0000"> <%= @test_passage.player_passage_percentes %></b>%</h3>
<% end %>

<%= link_to 'Back to tests', root_path %>
