<footer>
  <%= link_to 'leave feedback', new_feedback_path %> <br>
  <br>
  <p><%= t('.author')%></p>
  <p> <%= github_url('req12345', 'TestGuru')%> <%= t('.project_description')%></p>
  <%= link_to t('.thinknetica'), 'http://www.thinknetica.com', target: '_blank' %>
  <p>© <%= year_current %></p>
</footer>
