<div class="card border-primary">
  <div class="card-header">
    <%= t('.feedback') %>
  </div>
  <div class="card-body">
    <%= form_with model: @feedback, local: true do |form| %>
      <%= render 'shared/errors', resource: @feedback%>
      <div class="form-group">
        <%= form.label :user_name, t('.user_name') %>
        <% if current_user %>
          <%= form.text_field :user_name, class: 'form-control', value: current_user.first_name %>
        <% else %>
          <%= form.text_field :user_name, class: 'form-control' %>
        <% end %>

        <%= form.label :email, t('.email') %>
        <% if current_user %>
          <%= form.email_field :email, class: 'form-control', value: current_user.email %>
        <% else %>
          <%= form.email_field :email, class: 'form-control' %>
        <% end %>
        
        <%= form.label :header, t('.header') %>
        <%= form.text_field :header, class: 'form-control' %>

        <%= form.label :content, t('.content') %>
        <%= form.text_field :content, class: 'form-control' %>

      </div>
      <%= form.submit t('shared.button.send'), class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>
