<h1>Test: <%= @test.title %></h1>
<%= link_to 'New question', new_test_question_path(@test) %>

<h3>Questions:</h3>

<p>
<%= render partial: 'questions/question', collection: @test.questions %>
</p>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
