<tr>
  <td><strong><%= test.title %></strong></td>
  <td><%= test_level(test) %></td>
  <td><strong><%= test.category.title %></strong></td>
  <td><strong><%= test.questions.size %></strong></td>
  <td><strong><%= test.author.first_name %></strong></td>

  <td><%= button_to 'Start', start_test_path(test), method: :post %></td>
</tr>
